$with-flavor: true;
@import "imports/reset";
@import "imports/normalize";
@import "imports/flavor";
@import "imports/mixins";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');


//font-family: 'Ubuntu', sans-serif;

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #efefef;
}

.container{
  max-width:1000px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  position: relative;
}

h2{
  font-size: 28px;
}
.heading{
  width: 30%;
  margin: 20px auto;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
}
.description{
  width: 50%;
  text-align: center;
  line-height: 1.2em;
  margin: 20px auto;
}


a{
  text-decoration: none;
  &:visited, &:focus{
    color: inherit;
  }
  &:hover, &.active{
    color: #000;
  }
  //transition: 0.25s all ease;
}

.btn{
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  background: transparent;
  &-link{
    background: transparent;
    border: none;
    text-decoration: underline;
  }
}

.header{
  &__imitation{
    height: 170px;
    background: url(images/header.png) no-repeat;
  }
  &__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #302e30;
    padding: 15px 35px 17px 35px;
    border-bottom: 2px solid #efefef;
  }
  &__product-logo-link{
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    padding: 10px 12px;
    & span{
      font-size: 37px;
      font-weight: normal;
    }
  }
}
nav.fixed-header{
  width: 1000px;
  background: #fff;
  position: fixed;
  top:0;
  z-index: 1000;
}
.navigation{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  &__link{
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    &.active{
      border-bottom-color: #302e30;
    }
  }
  &__buy-button{
    @extend .navigation__link;
    padding: 10px 30px;
    position: relative;
    bottom: 0;
    border-radius: 5px;
    border-bottom: 3px solid #0561bf;
    background: #058ed8;
    color: #fff;

    &:focus, &:visited{
      color: #fff;
    }
    &:hover{
      box-shadow: 0 0 10px 0 #058ed8;
    }
    &:active{
      border-bottom: 1px solid #0561bf;
      background: #0561bf;
      bottom: -2px;
    }
  }
}

.buy-card{
  height: 540px;
  background: url("images/buy_card.png") no-repeat;
}

.phone-wrapper{
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
}
.text-wrapper{
  flex-basis: 50%;
  height: 100%;
  &__inner {
    height: 480px;
    width: 340px;
    position: relative;
    color:#fff;
  }
  &__skew {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-10deg);
    background: rgba(203, 82, 77, 0.9);
  }
  &__heading{
    display: inline;
    font-size: 24px;
    font-weight: bold;
    background: #fff;
    color: rgb(203, 82, 77);
    padding: 5px;
    line-height: 45px;

  }
  &__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 20px;
    &.info{
      margin-top: 15px;
      strong{
        margin: 15px 0;
      }
    }
  }
}

.specification{
  display: flex;
  align-items: flex-end;
  height: 675px;
  background: url("images/specification_bg.png") no-repeat;
  &__content{
    padding-top: 120px;
    padding-left: 65px;
  }
  &__info, &__tech{
    width: 100%;
    height: 100%;
    position: absolute;
    padding:45px 5px 45px 25px;
    z-index: 10;
  }
  &__tech{
    display: none;
    p{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 7px 0;
    }
  }
  &__button{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
  }
}
.color-selector{
  display: flex;
  padding: 20px 0 20px 180px;
  margin-bottom: 100px;
  &__item{
    padding: 5px;
  }
  &__circle{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #f2f2f2;
    position: relative;
    &::after{
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      position: absolute;
      top: 4px;
      left: 4px;
    }
    &.pink::after{
      background: #edc2d1;
    }
    &.blue::after{
      background: #64b7cd;
    }
    &.green::after{
      background: #89c069;
    }
    &.red::after{
      background: #cf5551;
    }
    &.yellow::after{
      background: #f1ef8e;
    }
    &.black::after{
      background: #292929;
    }
    &.active::after{
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
    }
  }
}

.screen{
  margin-bottom: 40px;
  &__heading{
    @extend .heading;
  }
  &__description{
    @extend .description;
    width: 52%;
  }
  &__video-wrapper{
    display: flex;
    height: 460px;
    justify-content: center;
    padding-top:40px;
    background: url("images/video_phone.png") no-repeat;
    background-position: 110px -12px;
  }
}

.core{
  @extend .specification;
  height: 710px;
  background: url("images/core_bg.png") no-repeat;
  &__info {
    padding-top: 120px;
    padding-left: 65px;
    &.text-wrapper {
      @extend .text-wrapper;
      flex-basis: 40%;
    }
    .text-wrapper{
      &__skew {
        @extend .text-wrapper__skew;
        transform: skewY(10deg);
        background: rgba(94, 171, 192, .9);
      }
      &__heading{
        color: #5EABC0;
      }
      &__text{
        span{
          margin: 10px 0;
        }
      }
    }
    &-wrap{
      @extend .specification__info;
    }
  }
  &__phone{
    height: 650px;
    background: url(images/core_phone.png) no-repeat;
    flex-basis: 60%;
    background-position-y: 30px;
  }
}

.gestures{
  margin-bottom: 75px;
  &__heading{
    @extend .heading;
  }
  &__img-wrapper{
    display: flex;
    justify-content: center;
  }
  &__info-text-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 0 150px;
  }
  &__info-text{
    flex-basis: 200px;
    padding: 0 20px;
    text-align: center;
  }
}

.online {
  margin-bottom: 40px;
  @extend .specification;
  &__phone {
    background: url("images/online_phone.png") no-repeat;
    height: 550px;
  }
  &__info {
    padding-top: 120px;
    padding-left: 65px;
    &-wrap{
      @extend .specification__info;
    }
  }
  &.text-wrapper {
    @extend .text-wrapper;
  }
  .text-wrapper{
    &__skew {
      @extend .text-wrapper__skew;
      background: rgba(70, 119, 181, .9);
    }
    &__heading{
      color: #5EABC0;
    }
    &__text{
      span{
        margin: 10px 0;
      }
    }
  }
}

.bottom-part{
  height: 1900px;
  background: url("images/bottom_part.png") no-repeat;
}


.discuss-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  &__content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  &__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover, &:focus{
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.scrolltop{
  position: fixed;
  bottom: 0;
  right: 10px;
  background: rgba(204,204,204,.8);
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
}